.title {
  font-family: 'Tangerine', serif;
  font-size: 60px
}

.vis-container {
  border: 1px solid #ccc;
  padding: 10px;
}

.page-header {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.navbar {
  margin-bottom: 0px;
}

#container {
  margin-top: 10px;
}
